// basic grid

%half{

	// ( 100% - $gutter ) / 2
	// Can't add variables to calc functions
	width:calc((100% - 30px) / 2);

	// small (phones)
	@media all and(max-width: $layout_break_point){
		width: 100%;
		margin-right:0;
		margin-left:0;
	}

}


%third{
	// ( 100% - $gutter*2 ) / 3
	// Can't add variables to calc functions
	width:calc((100% - 60px) / 3);;

	// small (phones)
	@media all and(max-width: $layout_break_point){
		width: 100%;
		margin-right:0;
		margin-left:0;
	}
}

// Halfs

.grid1-2, .grid2-2{
	@extend %half;
	float:left;
	margin-right:$gutter;
	img{
		max-width:100%;
		&.left{
			max-width:30%;
			float:left;
			display:block;
			overflow:auto;
			margin-right:10px;
		}
	}
}
.grid2-2{
	margin-right:0;

}

// Thirds

.grid1-3, .grid2-3, .grid3-3{
	@extend %third;
	float:left;
	margin-right:$gutter;
	img{
		max-width:100%;
		&.left{
			max-width:30%;
			float:left;
			display:block;
			overflow:auto;
			margin-right:10px;
		}
	}
}

.grid3-3{
	margin-right:0;
}