html, body{
	background:lighten(silver, 20);
	height:100%;
}
#siteWrapper{
	width: $page_width;
	background:white;
	margin:auto;
	height:100%;
	overflow:auto;
}

.inner{
	width:$page_inner_width;
	margin:auto;
	overflow:visible;
}

.section{
	overflow:auto;
	background:white;
	&:nth-child(even){
		background:beige;
	}
}