/*  */html, body{
	background:lighten(silver, 20);
	height:100%;
	position:relative;
}
.section{
	overflow:auto;
	margin-top:10px;
	&.noTop{
		margin-top:0;
	}
	&.darken{
		background:darken(white,5);
	}
}
#siteWrapper{
	border:1px solid lighten(#999,20);
	border-bottom:none;
	width: $page_width;
	background:white;
	margin:$top_margin auto 0;
	min-height:100%;
	overflow:auto;
	@media all and (max-width:$page_width){
		width: 100%;
	}
}

.inner{
	width:$page_inner_width;
	margin:auto;
	overflow:visible;
	@media all and(max-width: $page_inner_width){
		width: 98%;
		padding:0 1%;
	}
}

// basic grid

%column{
	width:(($page_inner_width) - $gutter) /2;
	@media all and(max-width: $page_inner_width){
		width: 48.5%;
	}
	@media all and(max-width: $layout_break_point){
		width: 100%;
	}

}
.leftColumn{
	@extend %column;
	float:left;
}
.rightColumn{
	@extend %column;
	float:right;
	&.hasBorder{
		padding-left:20px;
		border-left:1px dotted silver;
		@media all and(max-width: $layout_break_point){
			padding-left:0;
			border-left:none;
		}
	}
}
