// colors

@function light($color){
	@return desaturate(lighten($color, 35), 50);
}
@function verylight($color){
	@return desaturate(lighten($color, 55), 60);
}

// Palette Source: http://paletton.com/#uid=33j0u0kleqtbzEKgVuIpcmGtdhZ

$aris_color: #0097a1;
$aris_color_light: light($aris_color);
$aris_color_very_light: verylight($aris_color);
$aris_color_dark: darken($aris_color, 8);

$aris_color2: #D3A547;
$aris_color2_light: #F5CA73;
$aris_color2_very_light: #FFE1A3;
$aris_light_grey: #F5F5F5;

$aris_compl: #FFE1A3;
$aris_compl_light: #FFF3D9;
$aris_compl_dark:#F7D184;
// hyperlink

@mixin aris_link{
	color:black;
	&:hover{
		color: $aris_color_dark;
		text-decoration: underline;
	}
}

// layout Dimensions
$top_margin:30px;
$page_width:1280px;
$page_inner_width:1024px;
$gutter: 30px;

// Break Points

$navigation_break_point: 970px; // width of the navigation
$layout_break_point: 740px ; // the point at which all grid elements become 100% width
$header_break_point: 650px; // the point at which the quick info on the right disappears

// header
$header_height:140px;
$header_top_padding:20px;

// navbar
$navbar_height:45px;

// navigation
$nav_width: 920px;
$nav_third: ($nav_width / 3)-1 ;
$nav_height:350px;
$nav_inner_height:330px;
$top_line_thickness: 5px;
	// colors
$nav_background:white;
$nav_link_color:black;
$nav_highlight_color:lighten($aris_color, 8);
$nav_panel_border_color: silver;