// colors
$aris_color: #0097a1;

// layout Dimensions
$top_margin:30px;
$page_width:1280px;
$page_inner_width:1024px;

// header
$header_height:150px;

// navbar
$navbar_height:40px;

// navigation 
$nav_width:900px;
$nav_third: ($nav_width / 3)-1 ;
$nav_height:$nav_third;
$top_line_thickness: 5px;
	// colors
$nav_background:white;
$nav_link_color:black;
$nav_highlight_color:lighten($aris_color, 8);
$nav_panel_border_color: silver;