/bootstrap/compiled.php
/app/storage/**
/vendor
/public/img/uploads/
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
public/config.codekit
public/scss/.sass-cache/
public/img/thumbs/
!*.sql
app/storage/spcache/*.spc
