/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: Border-box; }

img {
  max-width: 100%; }

html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 100%; }

strong {
  font-weight: bold; }

a {
  color: #007178;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.learnmore {
    text-decoration: none;
    background: #7fcfd4;
    padding: 2px 7px;
    color: white;
    font-size: 14px; }
    a.learnmore:hover {
      background: #59c1c8; }

ul {
  margin-left: 25px; }

.center {
  text-align: center; }

.aris {
  color: #0097a1; }

h1, h2, h3 {
  font-weight: bold;
  color: #444; }

h1 {
  font-size: 30px;
  line-height: 45px;
  margin: 15px 0;
  margin-top: 30px;
  font-weight: 500px; }

h2 {
  font-size: 24px;
  line-height: 45px;
  margin: 15px 0; }

h3 {
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0; }

h4 {
  font-size: 18px;
  line-height: 30px;
  margin: 15px 0; }

hr {
  margin: 15px 0; }

h1 small, h2 small, h3 small, h4 small {
  font-size: 0.85em;
  color: #0097a1;
  font-weight: normal; }

p, dl {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #666666; }

blockquote {
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
  padding: 0 15px;
  margin: 15px 0;
  border-left: 3px solid #0097a1;
  color: #00676e; }

.caption {
  margin: 7.5px 0;
  color: #adadad;
  font-style: italic; }

table {
  width: 100%;
  font-size: 16px;
  text-align: left; }
  table tr:nth-child(even) {
    background: #F8FFFF; }
  table th {
    border-bottom: 2px solid grey;
    padding: 15px 0;
    font-weight: bold; }
  table td {
    border-bottom: 1px solid #9a9a9a;
    padding: 7.5px 0; }
  table th, table td {
    padding-left: 5px; }

nav {
  height: 45px;
  line-height: 30px;
  background: #0097a1; }
  @media all and (max-width: 970px) {
    nav {
      display: none; } }
  nav li a {
    text-decoration: none;
    color: black; }
  nav ul {
    margin: 0; }
  nav ul.sections {
    position: relative; }
    nav ul.sections > li {
      color: white;
      cursor: pointer;
      display: inline-block;
      padding: 0 10px;
      line-height: 45px; }
      nav ul.sections > li:hover {
        background: #00afba; }
      nav ul.sections > li .navigation_wrapper {
        display: none; }
      nav ul.sections > li a {
        color: white; }
      nav ul.sections > li i {
        color: #7fcfd4;
        opacity: 0.5;
        margin-left: 5px; }
      nav ul.sections > li.active {
        background: #007178; }
        nav ul.sections > li.active i {
          opacity: 1; }
        nav ul.sections > li.active .navigation_wrapper {
          color: black;
          padding: 10px;
          display: block;
          background: #F5F5F5;
          height: 400px;
          width: 920px;
          position: absolute;
          z-index: 3000;
          top: 45px;
          left: 0;
          overflow: auto; }
          nav ul.sections > li.active .navigation_wrapper .nav_title {
            margin: -10px;
            margin-bottom: 0;
            margin-right: -10px;
            background: #cfe9ea;
            padding-left: 20px; }
            nav ul.sections > li.active .navigation_wrapper .nav_title h2 {
              margin: 0; }
          nav ul.sections > li.active .navigation_wrapper .section_image, nav ul.sections > li.active .navigation_wrapper .section_description, nav ul.sections > li.active .navigation_wrapper .section_nav_list {
            float: right;
            height: 330px;
            width: 300px;
            padding: 10px; }
            nav ul.sections > li.active .navigation_wrapper .section_image img, nav ul.sections > li.active .navigation_wrapper .section_description img, nav ul.sections > li.active .navigation_wrapper .section_nav_list img {
              max-width: 100%;
              height: 310px; }
          nav ul.sections > li.active .navigation_wrapper .section_image {
            width: 300px;
            background: white; }
          nav ul.sections > li.active .navigation_wrapper .section_description {
            padding: 10px;
            padding-right: 0;
            background: white; }
            nav ul.sections > li.active .navigation_wrapper .section_description .desc {
              background: #FFE1A3;
              padding: 10px;
              min-width: 100%;
              min-height: 100%; }
          nav ul.sections > li.active .navigation_wrapper .section_nav_list {
            background: white;
            padding: 10px; }
            nav ul.sections > li.active .navigation_wrapper .section_nav_list a {
              color: black; }
            nav ul.sections > li.active .navigation_wrapper .section_nav_list li {
              line-height: 22px;
              padding: 5px; }
              nav ul.sections > li.active .navigation_wrapper .section_nav_list li.nochildren {
                background: none; }
                nav ul.sections > li.active .navigation_wrapper .section_nav_list li.nochildren a {
                  color: black; }
                  nav ul.sections > li.active .navigation_wrapper .section_nav_list li.nochildren a:hover {
                    color: #007178;
                    text-decoration: underline; }
              nav ul.sections > li.active .navigation_wrapper .section_nav_list li.haschildren.active {
                background: #7fcfd4 url("../img/interface/arrow-end.png");
                background-repeat: no-repeat;
                background-position-x: right;
                background-position-y: center; }
          nav ul.sections > li.active .navigation_wrapper li .section_subnav_list {
            display: none; }
          nav ul.sections > li.active .navigation_wrapper li.active .section_subnav_list {
            display: block;
            position: absolute;
            padding: 10px;
            padding-right: 0;
            width: 300px;
            top: 45px;
            left: 310px;
            background: white;
            height: 330px; }
            nav ul.sections > li.active .navigation_wrapper li.active .section_subnav_list ul {
              padding: 10px;
              border-left: 2px solid #0097a1;
              background: #dadada;
              min-height: 100%; }
            nav ul.sections > li.active .navigation_wrapper li.active .section_subnav_list li {
              background: none; }
              nav ul.sections > li.active .navigation_wrapper li.active .section_subnav_list li a {
                color: black; }
                nav ul.sections > li.active .navigation_wrapper li.active .section_subnav_list li a:hover {
                  color: #007178;
                  text-decoration: underline; }

#mobileMenu {
  height: 40px;
  line-height: 40px;
  background: #0097a1; }
  #mobileMenu h3 {
    margin: 0;
    cursor: pointer;
    font-size: 18px;
    color: white;
    line-height: 40px;
    width: 120px;
    padding: 0 20px;
    background: #00676e; }
    #mobileMenu h3:hover {
      background: #007f88; }
  @media all and (min-width: 969px) {
    #mobileMenu {
      display: none; } }
  #mobileMenu ul.sectionsMobile {
    display: none; }
  #mobileMenu.active {
    height: auto; }
    #mobileMenu.active ul.sectionsMobile {
      display: block;
      margin: 0; }
      #mobileMenu.active ul.sectionsMobile li {
        padding: 5px 20px;
        background: silver;
        border-bottom: 1px dotted white;
        cursor: pointer; }
        #mobileMenu.active ul.sectionsMobile li:hover {
          background: #dadada; }
        #mobileMenu.active ul.sectionsMobile li h4 {
          margin: 0; }
      @media all and (min-width: 919px) {
        #mobileMenu.active ul.sectionsMobile {
          display: none; } }
      #mobileMenu.active ul.sectionsMobile ul {
        display: none; }
      #mobileMenu.active ul.sectionsMobile li.active {
        background: #0097a1; }
        #mobileMenu.active ul.sectionsMobile li.active:hover {
          background: #0097a1; }
        #mobileMenu.active ul.sectionsMobile li.active h4 {
          margin-left: -20px;
          margin-right: -20px;
          margin-top: -5px;
          margin-bottom: 5px;
          background: #7fcfd4;
          padding: 5px 20px;
          cursor: pointer; }
          #mobileMenu.active ul.sectionsMobile li.active h4:hover {
            background: #6cc8ce; }
        #mobileMenu.active ul.sectionsMobile li.active ul {
          display: block;
          margin: 0; }
          #mobileMenu.active ul.sectionsMobile li.active ul li {
            background: white;
            border-bottom: 1px solid silver; }
            #mobileMenu.active ul.sectionsMobile li.active ul li a {
              color: #0097a1;
              text-decoration: none; }
            #mobileMenu.active ul.sectionsMobile li.active ul li:hover {
              background: #e6e6e6; }
              #mobileMenu.active ul.sectionsMobile li.active ul li:hover a {
                color: black; }

#contactInfo {
  font-family: verdana, sans-serif;
  font-size: 12px;
  width: 1280px;
  margin: 30px auto 0;
  opacity: 0.3;
  overflow: auto; }
  #contactInfo .contacts {
    float: right; }
  #contactInfo li {
    display: inline-block; }
  @media all and (max-width: 1280px) {
    #contactInfo {
      width: 100%;
      padding-right: 10px; } }
  @media all and (max-width: 650px) {
    #contactInfo {
      display: none; } }

header {
  padding-top: 20px;
  height: 140px;
  overflow: auto; }
  @media all and (max-width: 650px) {
    header {
      height: 96.5517241379px; } }

.searchform {
  margin-top: 5px; }
  .searchform input {
    background-color: #ECF7F6;
    background-image: url("../img/interface/search.png");
    background-repeat: no-repeat;
    background-position: 210px -3px;
    vertical-align: middle;
    appearance: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    width: 250px;
    border: 1px solid silver; }
    .searchform input:hover {
      background-position: 210px -33px; }

#logo {
  text-indent: -999px;
  height: 73px;
  width: 400px;
  float: left;
  background: url(../img/brand/aris-logo.png);
  background-repeat: no-repeat;
  background-size: 400px 73px; }
  @media all and (max-width: 650px) {
    #logo {
      height: 50.3448275862px;
      width: 275.8620689655px;
      background-size: 275.8620689655px 50.3448275862px; } }

#quickInfo {
  float: right;
  font-size: 13px;
  color: #888;
  margin-right: 5px;
  line-height: 18px; }
  #quickInfo ul {
    margin: 0; }
    #quickInfo ul li i {
      color: #0097a1;
      font-size: 16px; }
  @media all and (max-width: 650px) {
    #quickInfo {
      display: none; } }

.quickAccess, #content-sidebar .quickAccess {
  background: white; }
  .quickAccess h2, #content-sidebar .quickAccess h2 {
    color: #555;
    background: #FFE1A3;
    width: 220px;
    margin-bottom: 0;
    padding-left: 8px;
    font-size: 1.1em;
    line-height: 1.5; }
    @media all and (max-width: 300px) {
      .quickAccess h2, #content-sidebar .quickAccess h2 {
        width: 100%; } }
  .quickAccess ul, #content-sidebar .quickAccess ul {
    margin-left: 0;
    background: #F7D184;
    padding-bottom: 4px; }
  .quickAccess li, #content-sidebar .quickAccess li {
    margin: 0;
    margin-top: 3px;
    margin-left: 3px;
    display: inline-block;
    line-height: 20px;
    background: #FFF3D9;
    padding: 5px 8px;
    font-size: 14px;
    color: #666; }
    .quickAccess li .fa, #content-sidebar .quickAccess li .fa {
      margin-right: 6px; }
    .quickAccess li:hover, #content-sidebar .quickAccess li:hover {
      background: white; }
    @media all and (max-width: 300px) {
      .quickAccess li, #content-sidebar .quickAccess li {
        width: 100%;
        margin-left: 0; } }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

.flexslider {
  background: #F5F5F5;
  min-height: 100px;
  padding-bottom: 39%;
  position: relative; }
  .flexslider img {
    position: absolute;
    top: 0; }

.gateway {
  font-size: 50px;
  font-size: 2.5vw;
  width: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  position: absolute;
  z-index: 2000;
  height: 100px;
  color: white;
  font-weight: 200;
  bottom: 0px;
  padding-top: 50px;
  text-transform: uppercase;
  font-weight: bold; }
  @media all and (max-width: 650px) {
    .gateway {
      font-size: 18px;
      font-size: 4vw; } }

.flexslider ul {
  margin: 0;
  margin-bottom: -15px; }

ul.flex-direction-nav {
  display: none; }

.flexslider ol {
  display: none; }

h2.slogan {
  font-size: 30px;
  line-height: 40px;
  color: #0097a1; }

.news_item_wrapper {
  overflow: hidden;
  margin-top: 5px;
  border-top: 1px dotted silver; }
  .news_item_wrapper h3 {
    color: #007178;
    line-height: 20px; }
  .news_item_wrapper p {
    font-size: 14px;
    line-height: 20px; }

.latestNews small {
  font-size: 0.7em;
  float: right; }

.news_item_photo {
  width: 25%;
  float: right;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }

.news_item_photo ~ .news_excerpt {
  float: left;
  width: 73%;
  margin-right: 2%; }

#content-area {
  width: 68%;
  float: left;
  margin-bottom: 40px; }
  #content-area a {
    color: #0097a1; }
    #content-area a h1, #content-area a h2, #content-area a h3 {
      color: #0097a1; }
  #content-area ul {
    list-style: initial;
    margin-bottom: 15px; }
    #content-area ul li {
      color: #666;
      line-height: 25px; }
      #content-area ul li p:nth-of-type(1) {
        margin-bottom: 0; }
  #content-area > p:nth-of-type(1) {
    font-size: 20px;
    line-height: 30px;
    color: #444; }
  #content-area dt {
    float: left;
    font-weight: bold;
    color: #0097a1; }
    #content-area dt:after {
      content: ":";
      margin-right: 5px; }
  #content-area dd {
    margin-bottom: 15px; }
  #content-area .halfModules {
    width: 100%;
    overflow: auto; }
    #content-area .halfModules div {
      width: 50%;
      float: left; }
      #content-area .halfModules div.left {
        padding-right: 20px; }
      @media all and (max-width: 650px) {
        #content-area .halfModules div {
          width: 100%;
          padding-right: 0; } }
  #content-area .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
  #content-area .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media all and (max-width: 650px) {
  #content-area {
    width: 100%; } }

.listModule {
  border-bottom: 1px dotted #ddd;
  overflow: auto; }
  .listModule h2 {
    margin-bottom: 0; }
  .listModule .featuredImage {
    float: left;
    margin-right: 10px;
    max-width: 150px;
    height: auto;
    margin-top: 10px; }
  .listModule p {
    overflow: auto; }

#content-sidebar {
  margin-top: 20px;
  width: 27%;
  float: right; }
  #content-sidebar .box {
    background: #F5F5F5;
    margin-bottom: 10px; }
    #content-sidebar .box .box_header {
      background: #0097a1;
      padding: 0 10px; }
      #content-sidebar .box .box_header h3 {
        margin: 0;
        margin-top: 0;
        color: white; }
    #content-sidebar .box .box_body {
      padding: 10px; }
  #content-sidebar ul {
    margin: 0; }
    #content-sidebar ul li {
      margin: 5px 0;
      padding: 7px 0;
      border-bottom: 1px dotted silver; }
      #content-sidebar ul li:last-child {
        border-bottom: none; }
      #content-sidebar ul li img {
        margin-bottom: 5px; }
  #content-sidebar h3 {
    font-size: 16px; }
    #content-sidebar h3 a {
      color: white; }
  @media all and (max-width: 650px) {
    #content-sidebar {
      width: 100%; } }

footer {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background: #0097a1;
  position: relative;
  bottom: 0;
  left: 0; }
  footer .footerColumn {
    display: inline-block;
    width: 30%; }

.breadcrumbs {
  margin-top: 30px; }
  @media print {
    .breadcrumbs {
      display: none; } }

#adminCreate a {
  display: inline-block;
  padding: 5px;
  background: orange;
  color: white;
  border-radius: 3px; }
  #adminCreate a:hover {
    text-decoration: none;
    background: #ffb329; }

#content-area .featured_image {
  float: left;
  margin-right: 15px;
  max-width: 50%; }
#content-area .newsExcerpt {
  overflow: auto;
  margin-bottom: 10px; }
#content-area .newsItem {
  padding-bottom: 20px;
  border-bottom: 1px solid silver;
  overflow: auto;
  clear: both;
  margin-bottom: 10px; }
  #content-area .newsItem small {
    font-size: 0.6em;
    color: #999;
    margin-left: 5px; }
#content-area .meta {
  clear: both;
  font-size: 0.85em;
  background: #F5F0E3;
  width: 100%;
  display: block;
  padding: 7px 0;
  padding-left: 5px;
  margin-bottom: 15px;
  color: #989898; }
  #content-area .meta .info {
    color: #666; }
  #content-area .meta a {
    display: inline-block;
    color: white;
    background: orange;
    padding: 3px 5px;
    margin-right: 5px; }

/*  */
html, body {
  background: #f3f3f3;
  height: 100%;
  position: relative; }

.section {
  overflow: auto;
  padding: 10px 0; }
  .section.noTop {
    margin-top: 0; }
  .section.darken {
    background: #f2f2f2; }

.adminStrip {
  text-align: center;
  padding-right: 10px;
  background: orange; }
  .adminStrip p {
    color: black; }
  .adminStrip a {
    background: #AE506D;
    padding: 2px 5px;
    border-radius: 3px;
    color: white; }

#siteWrapper {
  border: 1px solid #cccccc;
  border-bottom: none;
  width: 1280px;
  background: white;
  margin: 10px auto 0;
  min-height: 100%;
  overflow: auto; }
  @media all and (max-width: 1280px) {
    #siteWrapper {
      width: 100%; } }
  @media all and (max-width: 650px) {
    #siteWrapper {
      margin-top: 0; } }

.inner {
  position: relative;
  width: 1024px;
  margin: auto;
  overflow: visible; }
  @media all and (max-width: 1024px) {
    .inner {
      width: 98%;
      padding: 0 1%; } }

.leftColumn, .rightColumn {
  width: 502px; }
  @media all and (max-width: 1024px) {
    .leftColumn, .rightColumn {
      width: 48.5%; } }
  @media all and (max-width: 740px) {
    .leftColumn, .rightColumn {
      width: 100%; } }

p.meta {
  background: #FFE9C1;
  padding: 5px;
  margin-top: 10px;
  font-size: 0.8em;
  font-color: #888; }

.leftColumn {
  float: left; }

.rightColumn {
  float: right; }
  .rightColumn.hasBorder {
    padding-left: 20px;
    border-left: 1px dotted silver; }
    @media all and (max-width: 740px) {
      .rightColumn.hasBorder {
        padding-left: 0;
        border-left: none; } }

#pagination {
  text-align: center;
  margin-top: 20px; }

ul.pagination li {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px; }
  ul.pagination li:nth-child(1) {
    margin-left: 0; }
