/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: Border-box; }

html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 100%; }

ul {
  margin-left: 25px; }

.center {
  text-align: center; }

.aris {
  color: #0097a1; }

h1, h2, h3 {
  font-weight: bold;
  color: #444; }

h1 {
  font-size: 30px;
  line-height: 45px;
  margin: 15px 0;
  margin-top: 30px;
  font-weight: 500px; }

h2 {
  font-size: 24px;
  line-height: 45px;
  margin: 15px 0; }

h3 {
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0; }

h4 {
  font-size: 18px;
  line-height: 30px;
  margin: 15px 0; }

hr {
  margin: 15px 0; }

p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #666666; }
  p.lead {
    font-size: 20px;
    color: black; }

blockquote {
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
  padding: 0 15px;
  margin: 15px 0;
  border-left: 3px solid #0097a1;
  color: #00676e; }

.caption {
  margin: 7.5px 0;
  color: #adadad;
  font-style: italic; }

table {
  font-size: 16px;
  text-align: left; }
  table tr:nth-child(even) {
    background: #F8FFFF; }
  table th {
    border-bottom: 2px solid grey;
    padding: 15px 0;
    font-weight: bold; }
  table td {
    border-bottom: 1px solid #9a9a9a;
    padding: 7.5px 0; }
  table th, table td {
    padding-left: 5px; }

nav {
  height: 45px;
  line-height: 30px;
  background: #0097a1; }
  @media all and (max-width: 900px) {
    nav {
      display: none; } }
  nav li a {
    text-decoration: none;
    color: black; }
  nav ul {
    margin: 0; }
  nav ul.sections {
    position: relative; }
    nav ul.sections > li {
      cursor: pointer;
      display: inline-block;
      padding: 0 10px;
      line-height: 45px; }
      nav ul.sections > li ul.subsections {
        display: none; }
      nav ul.sections > li a {
        color: white; }
      nav ul.sections > li i {
        color: #CBEBED;
        opacity: 0.5;
        margin-left: 5px; }
      nav ul.sections > li.active {
        background: #007178; }
        nav ul.sections > li.active i {
          opacity: 1; }
        nav ul.sections > li.active ul.subsections {
          height: 350px;
          border: 1px solid silver;
          display: block;
          position: absolute;
          top: 45px;
          left: 0;
          width: 900px;
          background: white;
          z-index: 10;
          padding-top: 10px; }
          nav ul.sections > li.active ul.subsections li {
            padding: 8px 15px;
            display: block;
            width: 100%;
            width: 299px;
            line-height: 1.1em;
            color: black; }
            nav ul.sections > li.active ul.subsections li i {
              display: none; }
            nav ul.sections > li.active ul.subsections li a {
              color: black; }
            nav ul.sections > li.active ul.subsections li ul {
              display: none; }
            nav ul.sections > li.active ul.subsections li.active {
              background: #00bdca; }
              nav ul.sections > li.active ul.subsections li.active i {
                float: right;
                display: block;
                color: white; }
              nav ul.sections > li.active ul.subsections li.active ul {
                padding-top: 10px;
                display: block;
                position: absolute;
                left: 299px;
                height: 100%;
                border-left: 1px solid silver;
                background: white;
                top: 0; }
                nav ul.sections > li.active ul.subsections li.active ul li a {
                  color: black; }
                nav ul.sections > li.active ul.subsections li.active ul li:hover {
                  background: #CBEBED; }

#mobileMenu {
  height: 40px;
  line-height: 40px;
  background: #0097a1; }
  #mobileMenu h3 {
    margin: 0;
    cursor: pointer;
    font-size: 18px;
    color: white;
    line-height: 40px;
    width: 120px;
    padding: 0 20px;
    background: #00676e; }
    #mobileMenu h3:hover {
      background: #007f88; }
  @media all and (min-width: 899px) {
    #mobileMenu {
      display: none; } }
  #mobileMenu ul.sectionsMobile {
    display: none; }
  #mobileMenu.active {
    height: auto; }
    #mobileMenu.active ul.sectionsMobile {
      display: block;
      margin: 0; }
      #mobileMenu.active ul.sectionsMobile li {
        padding: 5px 20px;
        background: silver;
        border-bottom: 1px dotted white;
        cursor: pointer; }
        #mobileMenu.active ul.sectionsMobile li:hover {
          background: #dadada; }
        #mobileMenu.active ul.sectionsMobile li h4 {
          margin: 0; }
      @media all and (min-width: 899px) {
        #mobileMenu.active ul.sectionsMobile {
          display: none; } }
      #mobileMenu.active ul.sectionsMobile ul {
        display: none; }
      #mobileMenu.active ul.sectionsMobile li.active {
        background: #0097a1; }
        #mobileMenu.active ul.sectionsMobile li.active:hover {
          background: #0097a1; }
        #mobileMenu.active ul.sectionsMobile li.active h4 {
          margin-left: -20px;
          margin-right: -20px;
          margin-top: -5px;
          margin-bottom: 5px;
          background: #CBEBED;
          padding: 5px 20px;
          cursor: pointer; }
          #mobileMenu.active ul.sectionsMobile li.active h4:hover {
            background: #b8e4e6; }
        #mobileMenu.active ul.sectionsMobile li.active ul {
          display: block;
          margin: 0; }
          #mobileMenu.active ul.sectionsMobile li.active ul li {
            background: white;
            border-bottom: 1px solid silver; }
            #mobileMenu.active ul.sectionsMobile li.active ul li a {
              color: #0097a1;
              text-decoration: none; }
            #mobileMenu.active ul.sectionsMobile li.active ul li:hover {
              background: #e6e6e6; }
              #mobileMenu.active ul.sectionsMobile li.active ul li:hover a {
                color: black; }

header {
  padding-top: 20px;
  height: 140px;
  overflow: auto; }

#logo {
  text-indent: -999px;
  height: 73px;
  width: 400px;
  float: left;
  background: url(../img/brand/aris-logo.png);
  background-repeat: no-repeat;
  background-size: 400px 73px; }

#quickInfo {
  float: right; }

#quickInfo {
  font-size: 13px;
  color: #888;
  margin-right: 5px;
  line-height: 18px; }
  #quickInfo .searchform {
    margin-bottom: 10px; }
    #quickInfo .searchform input {
      padding: 3px; }
  #quickInfo ul {
    margin: 0; }
    #quickInfo ul li i {
      color: #0097a1;
      font-size: 16px; }
  @media all and (max-width: 650px) {
    #quickInfo {
      display: none; } }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

.flexslider ul {
  margin: 0; }
  .flexslider ul li {
    margin: -15px 0; }

ul.flex-direction-nav {
  display: none; }

.flexslider ol {
  display: none; }

#material {
  width: 545px; }

footer {
  width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #0097a1;
  position: relative;
  bottom: 0;
  left: 0; }

html, body {
  background: #f3f3f3;
  height: 100%;
  position: relative; }

#siteWrapper {
  border: 1px solid #cccccc;
  border-bottom: none;
  width: 1280px;
  background: white;
  margin: 30px auto 0;
  min-height: 100%;
  overflow: auto; }
  @media all and (max-width: 1280px) {
    #siteWrapper {
      width: 100%; } }

.arisbackground {
  background: #0097a1;
  padding: 20px; }
  .arisbackground p, .arisbackground h1, .arisbackground h2, .arisbackground h3, .arisbackground h4 {
    color: white; }

.inner {
  width: 1024px;
  margin: auto;
  overflow: visible; }
  @media all and (max-width: 1024px) {
    .inner {
      width: 100%;
      padding: 0 10px; } }
  .inner .full {
    width: 100%;
    margin: 0;
    float: left; }
  .inner .half {
    margin-right: 20px;
    width: 502px;
    float: left; }
    .inner .half.last {
      margin-right: 0; }
  .inner .third {
    margin-right: 20px;
    width: 328px;
    float: left; }
    .inner .third.last {
      margin-right: 0; }
  .inner .twothirds {
    margin-right: 20px;
    width: 676px;
    float: left; }
    .inner .twothirds.last {
      margin-right: 0; }
  .inner .quarter {
    margin-right: 20px;
    width: 241px;
    float: left; }
    .inner .quarter.last {
      margin-right: 0; }
  .inner .full img, .inner .half img, .inner .third img, .inner .twothirds img, .inner .quarter img {
    margin: 0;
    max-width: 100%;
    height: auto; }
  @media all and (max-width: 1024px) {
    .inner .half, .inner .third, .inner .twothirds, .inner .quarter {
      padding-top: 20px;
      width: 100%;
      margin: 0; } }

img.circle {
  border-radius: 50%; }
img.left {
  float: left;
  margin-right: 20px; }

.card {
  padding: 20px;
  border: 1px solid #E7E7E7;
  background: white; }

.section {
  margin-top: 0;
  overflow: auto;
  background: white;
  overflow: auto;
  padding: 20px 0; }
  .section h1, .section h2, .section h3, .section h4 {
    margin-top: 0; }
  .section.dk {
    background: #E7E7E7; }
  .section.bordered {
    border-top: 1px solid #0097a1;
    border-bottom: 1px solid #0097a1; }
