.container{
  margin-top:20px;
  margin-top: 5vh;
}

.adminarea{
	width:100%;
	top:0;
	padding:2px;
	font-size:14px;
	color:white;
	background: #999;
	text-align: right;
	padding-right:10px;
}
.adminarea a{
	color: orange;
}

#logo {
  text-indent: -999px;
  height: 74.5px;
  width: 400px;
  float: left;
  background: url(../img/brand/aris-admin-logo.png);
  background-repeat: no-repeat;
  background-size: 400px 64.5px; 
}