table{
	width:100%;
	font-size:16px;
	text-align:left;
	tr:nth-child(even){
		background:#F8FFFF;
	}
	th{
		border-bottom:2px solid grey;
		padding:15px 0;
		font-weight:bold;
	}
	td{
		border-bottom:1px solid lighten(grey, 10);
		padding:7.5px 0;
	}
	th, td {
		padding-left:5px;
	}
}