html{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 100%; // 16px , 1rem;
}
strong{
	font-weight: bold;
}
a{
	color:$aris_color_dark;
	text-decoration:none;
	&:hover{
		text-decoration:underline;
	}
	&.learnmore{
		text-decoration: underline;
		color: $aris_color;
	}
}
//temp
ul{
	margin-left:25px;
}
.center {
	text-align:center;
}
.aris {
	color: $aris_color;
}
// vertical unit basis is 15px;
h1,h2,h3{
	font-weight:bold;
	color: #444;
}
h1{
	font-size:30px;
	line-height:45px;
	margin:15px 0;
	margin-top:30px;
	font-weight:500px;
}

h2{
	font-size:24px;
	line-height:45px;
	margin:15px 0;
	&.latestNews{
		margin-top: 1em;
	}
}

h3{
	font-size:20px;
	line-height:30px;
	margin:15px 0;
}

h4{
	font-size:18px;
	line-height:30px;
	margin:15px 0;
}

hr{
	margin:15px 0;
}

h1 small, h2 small, h3 small, h4 small {
	font-size: 0.85em;
	color:$aris_color;
	font-weight: normal;
} 
p, dl{
	margin-bottom:15px;
	color: lighten(black,50);
}

.intro p{
	font-size: 1.5rem;
	line-height: 1.9rem;
}

blockquote{
	font-size:18px;
	line-height:30px;
	font-style:italic;
	padding: 0 15px;
	margin:15px 0;
	border-left: 3px solid $aris_color;
	color: darken($aris_color, 10);
}
.caption{
	margin: 7.5px 0;
	color: rgb(173, 173, 173);
	font-style: italic;
}
