h2.slogan{
	font-size: 28px;
	line-height: 40px;
	color: #0097a1;
	text-transform: uppercase;
	display: inline-block;
	background: $aris_color;
	padding: 5px 15px;
	color: white;
	border-bottom: 10px solid $aris_navy;
}

.news_item_wrapper{
	overflow:hidden;
	margin-top:5px;
	border-top:1px solid #ededed;
	h3{
		color:$aris_color_dark;
		line-height: 20px;
	}
	p{
		font-size:14px;
		line-height: 20px;
	}
}

.news_content{
	display:flex;
	justify-content: space-between;
}

.latestNews{
	small{
		font-size:0.6em;
	}
}

.news_item_photo{
	width:25%;
	height:100%;
	max-height: 160px;
	overflow: hidden;
}

.news_item_photo ~ .news_excerpt{
	width:73%;
}

.aris_credentials{
	display:flex;
	margin:1em 0;
	padding:1em 0;
	border-top: 1px solid silver;
	justify-content: space-between;
	a{
		width:25%;
		img{
			height:auto;
		}
	}
}
