#content-area{
	ul.people{
		margin-left:0;
	}
	li.person{
		list-style-type: none;
		overflow:auto;
		margin-bottom:10px;
		padding-bottom:10px;
		border-bottom:1px dotted silver;
		div.profilepic{
			float:left;
			background:#eee;
			vertical-align:bottom;
			min-height:60px;
			img{
				display:block;
				margin:0;
				padding:0;
			}
		}
		div.details{
			width:200px;
			width:calc(100% - 140px);
			float:right;
		}
	}
}