.quickAccess, #content-sidebar .quickAccess{
    background:white;

    ul{
        margin-left:0;
    }
    li{
        width:calc(33.333% - 6px);
        margin:0;
        margin-top: 5px;
        margin-left: 3px;
        display:inline-block;
        line-height: 20px;
        border-radius: 5px;
        font-size:12px;
        background:$aris_light_grey;
        .fa{
            width: 26px;
            height: 26px;
            text-align: center;
            vertical-align: middle;
            background-color: #28286a;
            margin-right: 3px;
            color: white;
            padding: 5px;
            border-radius: 50%;
            border: 2px solid;
        }
        color:#666;
        &:hover{
            color:white;
            background:$aris_color;
            a{
                color:white;
            }
        }
        @media all and (max-width: 300px){
            width:100%;
            margin-left:0;
        }
        &.highlighted{
            background-color: #0097a1;
            color: white;
            padding: 4px 16px; 
            border: 1px white solid;
        }
        a{
            display: block;
            padding:5px 8px;
            text-decoration: none;
        }
    }
}