.quickAccess, #content-sidebar .quickAccess{
    background:white;
    h2{
        color:#555;
        background: $aris_compl;
        width:220px;
        margin-bottom:0;
        padding-left: 8px;
        font-size: 1.1em;
        line-height: 1.5;
        @media all and (max-width: 300px){
            width:100%;
        }
    }
    ul{
        margin-left:0;
        background: $aris_compl_dark;
        padding-bottom:4px;
    }
    li{
        margin:0;
        margin-top: 3px;
        margin-left: 3px;
        display:inline-block;
        line-height: 20px;
        background: $aris_compl_light;
        padding:5px 8px;
        font-size:14px;
        .fa{
            margin-right:6px;
        }
        color:#666;
        &:hover{
            background:white;
        }
        @media all and (max-width: 300px){
            width:100%;
            margin-left:0;
        }
        &.highlighted{
            background-color: #0097a1;
            color: white;
            padding: 4px 16px; 
            border: 1px white solid;
        }
    }
}