#quickInfo{
	float:right;
	font-size:13px;
	color: #888;
	margin-right:5px;
	line-height:18px;

	ul{
		margin:0;
		li{
			i{
				color:$aris_color;
				font-size:16px;
			}

		}
	}
	@media all and (max-width:$header_break_point){
		display:none;
	}
}