h2.slogan{
	font-size:30px;
	line-height:40px;
	color:$aris_color;
}
.news_item_wrapper{
	overflow:hidden;
	margin-top:5px;
	border-top:1px dotted silver;
	h3{
		color:$aris_color_dark;
		line-height: 20px;
	}
	p{
		font-size:14px;
		line-height: 20px;
	}
}
    
.latestNews{
	small{
		font-size:0.7em;
		float:right;
	}
}

.news_item_photo{
	width:25%;
	float:right;
	height:100%;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
}

.news_item_photo ~ .news_excerpt{
	float:left;
	width:73%;
	margin-right:2%;
}