#content-area{
	width:68%;
	float:left;
    a{
        color:$aris_color;
        text-decoration:underline;
    }
    ul{
        list-style: initial;
        margin-bottom:15px;
        li{
            p:nth-of-type(1){
                margin-bottom:0;
            }
            color:#666;
            line-height: 25px;
        }
    }
    > p:nth-of-type(1){
        font-size: 20px;
        line-height: 30px;
        color:#444;
    }

    dt{
        float:left;
        font-weight:bold;
        color:$aris_color;
        &:after{
            content: ":";
            margin-right:5px;
        }
    }
    dd{
        margin-bottom:15px;
    }
    margin-bottom:40px;


    .halfModules{
        width:100%;
        overflow:auto;
        div{
            width:50%;
            float:left;
            &.left{
                padding-right:20px;
            }
            @media all and (max-width:$header_break_point){
                width:100%;
                padding-right:0;
            }
        }
        
    }

}

#content-area{
	@media all and (max-width:$header_break_point){
		width:100%;
	}
}