nav{
	li a{
		text-decoration:none;
		color:black;
	}
	height:$navbar_height;
	line-height:30px;
	background:$aris_color;
	ul{margin:0}
	ul.sections 
	{
		position:relative;
		>li
		{
			color:white;
			cursor: pointer;
			display: inline-block;
			padding:5px 10px;
			ul.subsections
			{
				display:none;
			}
			&.active
			{
				background:darken($aris_color, 8);
				ul.subsections
				{
					height:$nav_height;
					border-top:$top_line_thickness solid darken($aris_color, 8);
					display: block;
					position:absolute;
					top:$navbar_height;
					left:0;
					width:$nav_width;
					background: $nav_background;	
					z-index:10;
					padding-top:20px;
					li{
						padding:5px 15px;
						display:block;
						width: 100%;
						//float:left;
						width:$nav_third;
						line-height: 1.1em;
						ul{
							display:none;
						}
						&.active{
							background: lighten($aris_color, 8);
							&:after{
								content: ">";
								float:right;
							}
							ul{
								padding-top:20px;
								display:block;
								position:absolute;
								left:$nav_third;
								height: $nav_height - $top_line_thickness;
								border-left:3px solid darken($nav_background, 10);
								background:lighten($nav_background,20);
								top:0;
								li{
									&:hover{
										background: lighten($aris_color, 12);
									}
								}
							}
						}
					}	
				}
			}
		}
	}
}