nav{
	// Hide when window narrower than width
	@media all and (max-width:$nav_width){
		display:none;
	}
	li a{
		text-decoration:none;
		color:$nav_link_color;
	}
	height:$navbar_height;
	line-height:30px;
	background:$aris_color;
	ul{margin:0}
	ul.sections 
	{
		
		position:relative;
		>li
		{
			color:white;
			cursor: pointer;
			display: inline-block;
			padding:5px 10px;
			ul.subsections
			{
				display:none;
			}
			&.active
			{
				background:darken($aris_color, 8);
				ul.subsections
				{
					height:$nav_height;
					border:1px solid $nav_panel_border_color;
					display: block;
					position:absolute;
					top:$navbar_height;
					left:0;
					width:$nav_width;
					background: $nav_background;	
					z-index:10;
					//padding-top:20px;
					li{
						padding:6px 15px;
						display:block;
						width: 100%;
						//float:left;
						width:$nav_third;
						line-height: 1.1em;
						color:black;
						i{
							display:none;
						}
						ul{
							display:none;
						}
						&.active{
							background: $nav_highlight_color;
							i{
								float:right;
								display:block;
								color:white;
							}
							ul{
								//padding-top:20px;
								display:block;
								position:absolute;
								left:$nav_third;
								height: 100%;
								border-left:1px solid $nav_panel_border_color;
								background:lighten($nav_background,20);
								top:0;
								li{
									&:hover{
										background: $aris_color_light;
									}
								}
							}
						}
					}	
				}
			}
		}
	}
}

#mobileMenu{
		height:$navbar_height;
		line-height:30px;
		background:$aris_color;
		h3{
			cursor:pointer;
			font-size: 18px;
			color: white;
			line-height: 40px;
			width: 120px;
			padding: 0 20px;
			background: darken($aris_color, 10);
			&:hover{
				background:  darken($aris_color, 5);
			}
		}
		// Show when window narrower than width
		@media all and (min-width:$nav_width - 1){
			display:none;
		}
		ul.sectionsMobile{	
			display:none;
		}
		&.active {
			height:auto;
			ul.sectionsMobile{
				display:block;
				margin:0;
				li{
					padding: 5px 20px;
					background: silver;
					border-bottom: 1px dotted white;
					cursor:pointer;
					&:hover{
						background:lighten(silver,10);
					}
				}
				@media all and (min-width:$nav_width - 1){
					display:none;
				}
				ul{
					display:none;
				}
				li.active{
					background:$aris_color;
					&:hover{
						background:$aris_color;
					}
					h4{
						margin-left: -20px;
						margin-right: -20px;
						margin-top: -5px;
						margin-bottom: 5px;
						background:$aris_color_light;
						padding:5px 20px;
						cursor:pointer;
						&:hover{
							background:darken($aris_color_light,5);
						}
					}
					ul{
						display:block;
						margin:0;
						li{
							background:white;
							border-bottom:1px solid silver;
							a{
								color:$aris_color;
								text-decoration:none;
							}
							&:hover{
								a{color: black;}
								background:darken(white,10);
							}
						}
					}
				}
			}
		}
}