#content-sidebar{
	margin-top:20px;
	width:27%;
	float:right;
	.box{
		background:$aris_light_grey;
		margin-bottom:10px;
		.box_header{
			background:$aris_color;
			padding:0 10px;
			h3{
				margin:0;
				margin-top:0;
				color:white;
			}
		}
		.box_body{
			padding:10px;
		}		
		
	}
	ul{
		margin:0;
		li{
			margin:5px 0;
			padding:7px 0;
			border-bottom: 1px dotted silver;
			&:last-child{
				border-bottom:none;
			}
			img{
				margin-bottom:5px;
			}
		}

	}
	@media all and (max-width:$header_break_point){
		width:100%;
	}
}